body{
  margin:0px;
  padding:0px;
  background-color:#fff;
  height: 100%;
  overflow-y: scroll;
  display:block;
}

body a{
  text-decoration:none;
  color:#dddddd;
}

#nav-top{
  width:750px;
  border-bottom: 1px solid rgb(221,221,221);
  margin:16px auto;
  padding:0px;
  background-color: rgb(221,221,221);
}

#nav-top .container{
  padding: 5px;
}

#nav-top a img.logo{
  width:160px;
  height:60px;
}

#nav-top input{
  vertical-align:top;
  margin:16px 0px 0px 16px;
  border:0px none;
  height:30px;
  width: 492px;
  padding:0px 0px 0px 10px;
}

#nav-top a img.search{
  vertical-align:top;
  margin:16px 0px 0px 0px;
}

body #expshell{
  margin:0 auto;
  padding:0px;
  overflow:hidden;
  width:80%;
  height:1024px;
  padding-top: 16px;
  border: 1px solid rgb(221,221,221);
}

body #expshell iframe{
  width: 100%;
  height: 100%;
  overflow:hidden;
  overflow-x:hidden;
}

body #my-commands{
  position:relative;
  margin: 0 auto;
  width:80%;
}
body #my-commands h4{
  display:block;
  padding: 15px;
  text-align:center;
  background-color:rgb(221,221,221);
}
body #my-commands ul{
  border: 1px solid rgb(221,221,221);
}
body #my-commands ul li{
  padding:8px;
}
